
@font-face {
  font-family: Raleway;
  src: url('https://fonts.googleapis.com/css?family=Raleway')
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}
html, body {
  height: 100vh;
  font-size: 16px;
}
